@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family:'Open Sans';
}

a {
    text-decoration: none;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease-in-out;
}

h1 {
    font-size:20px;
    font-weight:bold;
    text-align:center;
    padding-bottom:20px;
}

#igemheader {
    position:fixed;
    top:0px;
    height:20px;
    background:#000;
}

.wrap {
    margin-top:18px;
    font-family:'Open Sans';
    color:#555;
}

.side {
    position:fixed;
    top:0px;
    left:0px;
    width:400px;
    height:100%;
    background:#333;
}

