@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding-top:20px;
}


h1 {
    font-size:15px;
    font-weight:bold;
    text-align:center;
    padding:20px 0;
}

.container {
    font-family:'Open Sans';
    color:#555;
}

.content {
    font-size:14px;
}

.caption {
    font-size:13px;
}

.content-img {
    display:block;
    max-width:300px;
    margin:auto;
}
