<html>
    
    <div id="footer">
            <a href="http://www.northeastern.edu/">Northeastern University, Boston MA</a> &middot;
            <a href="https://github.com/omwan/iGEM-wiki-neu16">Github</a> &middot;
            <a href="#">back to top</a>
        </div>
    
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	{{jsInject mode}}
</html>
