<html>
<!-- ####################################################### -->
<!-- #  This html was produced by the igemwiki generator   # -->
<!-- #  https://github.com/igemuoftATG/generator-igemwiki  # -->
<!-- ####################################################### -->

<!-- repo for this wiki: https://github.com/omwan/iGEM-wiki-neu16 -->

</html>
<html>
    
    <div id="footer">
            <a href="http://www.northeastern.edu/">Northeastern University, Boston MA</a> &middot;
            <a href="https://github.com/omwan/iGEM-wiki-neu16">Github</a> &middot;
            <a href="#">back to top</a>
        </div>
    
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	<script src="http://2016.igem.org/Template:Northeastern/js/vendor_min_js?action=raw&ctype=text/javascript"></script>
	<script src="http://2016.igem.org/Template:Northeastern/js/bundle_min.js?action=raw&ctype=text/javascript"></script>
	<script src="http://2016.igem.org/Template:Northeastern/js/bundle_min_js?action=raw&ctype=text/javascript"></script>
	<script src="http://2016.igem.org/Template:Northeastern/js/vendor_min.js?action=raw&ctype=text/javascript"></script>
	
</html>
